In [15]:
# Add the Pandas and Numpy dependency
import pandas as pd
import numpy as np

# Files to load 
student_data_to_load = "Resources/students_complete.csv"

# Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)

In [16]:
# Filter student_df for only 9th Graders at Thomas HS
is_THS = student_data_df["school_name"]=="Thomas High School"
THS_students = student_data_df[is_THS]
is_9th = THS_students["grade"]=="9th"
THS_9th = THS_students[is_9th]
# THS_9th

# Count number of students in 9th grade at Thomas HS
THS_9th["Student ID"].count()

461

In [23]:
# Set multi-index
new_student_data_df = student_data_df.set_index(["school_name","grade"])
new_student_data_df

# Change student records to NaN
new_student_data_df.loc[['Thomas High School','9th'],['reading_score']]=np.nan
new_student_data_df.loc[['Thomas High School','9th'],['math_score']]=np.nan

# Reset index
new_student_data_df.reset_index(inplace=True)
new_student_data_df

C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2858: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)
C:\Users\twin_\anaconda3\envs\PythonData\lib\site-packages\IPython\core\async_helpers.py:68: PerformanceWarning: indexing past lexsort depth may impact performance.
  coro.send(None)

,school_name,grade,Student ID,student_name,gender,reading_score,math_score
0,Huang High School,9th,0,Paul Bradley,M,66.0,79.0
1,Huang High School,12th,1,Victor Smith,M,94.0,61.0
2,Huang High School,12th,2,Kevin Rodriguez,M,90.0,60.0
3,Huang High School,12th,3,Dr. Richard Scott,M,67.0,58.0
4,Huang High School,9th,4,Bonnie Ray,F,97.0,84.0
...,...,...,...,...,...,...,...
39165,Thomas High School,12th,39165,Donna Howard,F,99.0,90.0
39166,Thomas High School,10th,39166,Dawn Bell,F,95.0,70.0
39167,Thomas High School,9th,39167,Rebecca Tanner,F,NaN,NaN
39168,Thomas High School,10th,39168,Desiree Kidd,F,99.0,90.0
39169,Thomas High School,11th,39169,Carolyn Jackson,F,95.0,75.0

In [19]:
# confirm the cleaned data -> NaN in math_score = THS_9th
count = new_student_data_df["math_score"].isna().sum()
print(count)

461

In [8]:
# confirm the cleaned data -> NaN in reading_score = THS_9th
count = new_student_data_df["reading_score"].isna().sum()
print(count)

461