In [1]:
# Add the Pandas and Numpy dependency
import pandas as pd
import numpy as np

# Files to load 
student_data_to_load = "Resources/students_complete.csv"

# Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)

In [20]:
# Filter student_df for only 9th Graders at Thomas HS
is_THS = student_data_df["school_name"]=="Thomas High School"
THS_students = student_data_df[is_THS]
is_9th = THS_students["grade"]=="9th"
THS_9th = THS_students[is_9th]
# THS_9th

# Count number of students in 9th grade at Thomas HS
THS_9th["Student ID"].count()

461

In [2]:
# Set new index to school_name
THS9_student_data_df=student_data_df.set_index("school_name")

# Select rows based on grade = "9th"
THS9_student_data_df = THS9_student_data_df.loc[THS9_student_data_df['grade']=="9th"]

In [3]:
# Change grades for math and reading to "NaN"
THS9_student_data_df.loc[['Thomas High School'],['reading_score']]=np.nan
THS9_student_data_df.loc[['Thomas High School'],['math_score']]=np.nan

THS9_student_data_df

,Student ID,student_name,gender,grade,reading_score,math_score
school_name,,,,,,
Huang High School,0,Paul Bradley,M,9th,66.0,79.0
Huang High School,4,Bonnie Ray,F,9th,97.0,84.0
Huang High School,5,Bryan Miranda,M,9th,94.0,94.0
Huang High School,12,Brittney Walker,F,9th,64.0,79.0
Huang High School,13,William Long,M,9th,71.0,79.0
...,...,...,...,...,...,...
Thomas High School,39152,Lori Moore,F,9th,NaN,NaN
Thomas High School,39153,William Hubbard,M,9th,NaN,NaN
Thomas High School,39157,Kristen Gonzalez,F,9th,NaN,NaN
Thomas High School,39164,Joseph Anthony,M,9th,NaN,NaN
Thomas High School,39167,Rebecca Tanner,F,9th,NaN,NaN

In [4]:
# confirm the cleaned data -> NaN in math_score = THS_9th
count = THS9_student_data_df["math_score"].isna().sum()
print(count)

461

In [5]:
# confirm the cleaned data -> NaN in reading_score = THS_9th
count = THS9_student_data_df["reading_score"].isna().sum()
print(count)

461